<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICourt" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICourt" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CourtService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICourt" contract="CourtServiceReference.ICourt"
                name="BasicHttpBinding_ICourt" />
            <endpoint address="net.tcp://localhost:8090/CourtService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICourt" contract="CourtServiceReference.ICourt"
                name="NetTcpBinding_ICourt">
                <identity>
                    <userPrincipalName value="Yuri.Pustovoy@icx.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>